<template name="restaurants">
  <table>
  	<thead>
  		<tr>
  			<th>Restaurants</th>
        <th>Wins</th>
        {{#if admin}}
  			<th>Remove</th>
        {{/if}}
  		</tr>
  	</thead>
  	<tbody>
      {{#each restaurants}}
    		<tr>
    			<td>
            {{name}}
          </td>
          <td>
            {{wins.length}}
          </td>
          {{#if admin}}
    			<td>
             <input value='-' type='button' class='remove-rest'/>
          </td>
          {{/if}}
    		</tr>
      {{/each}}
  	</tbody>
  </table>
  <br />
  {{#if currentUser}}
    <form class="add-restaurant">
      <input type="text" name="restaurant" placeholder="Type to add new restaurant" />
      <button type='submit'>+</button>
    </form>
  {{/if}}
</template>
