table {
  height: 80px;
  width: 300px;
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}
tbody td{
  border: 1px dotted;
}
thead th{
  border: 1px solid;
}

.vote{
  cursor: pointer;
  text-decoration: underline;
  display: inline;
}
.hide{
  display: none;
}
.votation{
  position: relative;
  left: 20px;
}

.votes{
  cursor: pointer;
  text-decoration: underline;
}
.today{
  font-size: 14px;
}
