table {
  height: 80px;
  width: 300px;
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}
tbody td{
  border: 1px dotted;
}
thead th{
  border: 1px solid;
}

.vote{
  cursor: pointer;
  text-decoration: underline;
  display: inline;
}
.hide{
  display: none;
}
.votation{
  position: relative;
  left: 20px;
}

.disable{
  pointer-events:none;
}

.finished{
  color: red;
  font-style: italic;
}

.today{
  font: 13px;
  font-style: italic;
}

.votes_left{
  font-size: 14px;
  font-style: italic;
  margin-right: 60px;
}
