<template name="poll">
  <div>
    Finish on
    <input id='hour' type='number' max='23' min='0' value='11' class='{{admin f='disable'}}' />
    :
    <input id='min' type='number' max='59' min='0' value='59' class='{{admin f='disable'}}' />
  </div>
  <br />
  <e class="votes_left">{{votes_left.length}} votes left</e>
  <b>{{time}}</b>
  <e class="today">{{today}}</e>
  <table>
  	<thead>
  		<tr>
  			<th>Restaurant</th>
  			<th>Votes</th>
  		</tr>
  	</thead>
  	<tbody>
      {{#each poll_today}}
    		<tr>
    			<td class="restaurant">
            {{restaurant_name}}
            {{#if winner }}
              <e class='finished'>Wins!</e>
            {{/if}}
          </td>
    			<td title="{{votes}}">
            <e class='votes'>{{votes.length}}</e>
            <e class='votation {{voted_class}}'>vote</e>
          </td>
    		</tr>
      {{/each}}
  	</tbody>
  </table>
</template>
